// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #2563EB;
  --ion-color-primary-rgb: 37, 99, 235;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1e56cf;
  --ion-color-primary-tint: #3b73ed;

  --ion-color-secondary: #60a5fa;
  --ion-color-secondary-rgb: 96, 165, 250;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #5491dc;
  --ion-color-secondary-tint: #70aefb;
}
